<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>721451220404-r20bcdlrga5pd0b2ckgkrb8e8v2en5t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721451220404-r20bcdlrga5pd0b2ckgkrb8e8v2en5t7</string>
	<key>API_KEY</key>
	<string>AIzaSyDoDtJ8k-RjMSOZPjD6WVhx2BClDFh11JE</string>
	<key>GCM_SENDER_ID</key>
	<string>721451220404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.android.ionic.jitt</string>
	<key>PROJECT_ID</key>
	<string>jitt-ionic</string>
	<key>STORAGE_BUCKET</key>
	<string>jitt-ionic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:721451220404:ios:1c3607e9a29e844a</string>
	<key>DATABASE_URL</key>
	<string>https://jitt-ionic.firebaseio.com</string>
	<key></key>
	<string></string>
</dict>
</plist>
