<ion-split-pane>
 
  <!-- logged out menu -->
  <ion-menu *ngIf="!login" [content]="content">
  
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p.name)">
          <ion-icon item-start [name]="p.icon" ></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu *ngIf="login" [content]="content">
 
    <ion-header>
      <ion-toolbar color="primary">
        
          <img src="assets/imgs/JITT_s.png" alt="JITT logo" >

          <img src="assets/imgs/ited.png" class="img" alt="ited" > 
      </ion-toolbar>
    </ion-header>

    <ion-content padding class="outer-content">
    <ion-label>{{encabezado}}/{{selectasig.siteTitle}} </ion-label>
    <ion-item>  
        
        <ion-select id="asig_select" [(ngModel)]="asignature"  [interface]="action-sheet" (ionChange)="selectAsignatura(asignature)">
          <ion-option *ngFor="let asignature of asignaturesService.asignatures" [value]="asignature" [selected]="(asignature.id==selectasig.id)?true:null" >{{asignature.siteTitle}}</ion-option>
        </ion-select>
       
    </ion-item>
    
      <ion-list>
       
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p.name)">
          <ion-icon item-start [name]="p.icon" ></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
       
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p.name)">
          <ion-icon item-start [name]="p.icon" ></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

     
    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="true" main name="app"></ion-nav>

</ion-split-pane>